header {
    background-color: #333333;
    display: flex;
    align-items: center;
    height: 5rem;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    width: 40%;       
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

header li {
    display: inline-flex;
    color: white;
    
}

.depart {
    background-image: url(../img/Lille-Hall.jpg);
    height: 15rem;  
    display: flex;
    align-items: center;
}

.departext {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(245, 245, 220, 0.678);
    
}
.depart .departext p {
    margin: auto;
}

.departext hr {
    color: #b99470;
    size: 3px;
    width: 30px;
}

#form2 {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    flex-direction: column;
    padding : 2rem
}

#form2 button {
    margin-top: 2rem ;
    background-color: #b99470;
    height: 2rem;
}

#form2 label {
    margin-top: 1rem;
}

#form2 input {
    height: 1.5rem;
}