@use "variables" as v ;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: v.$light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
}

.logo {
    width: 40%;       
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

header li {
    display: inline-flex;
    color: v.$white;
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

form {
    /* display: flex; */
    background-color: v.$dark-gray;
    color: v.$white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* margin: 0 4rem; */
    gap: 1rem;
}

.form1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field{
    display: flex;
    flex-direction: column;
}

input, select{
    padding: 0.7rem;
}

.arrivee {
    background-image: url(../img/Lille-Seminaires.jpg);
    background-position: center;
    width: 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    padding: 5rem;
}

.arrivee div{
    margin: 0 auto;
    background-color: v.$transparent-white;
    height: fit-content;
    padding: 0.8rem;
    font-size: 2rem;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

hr{
    width: 25%;
}

option{
    background-color: v.$option-gray;
    color: v.$white;
    border: 0;
}

button {
    background-color: v.$orange;
    padding: 1rem;
    color: v.$white;
    border: 0;
}

.depart {
    background-image: url(../img/Lille-Hall.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    padding: 5rem;
}

.departext {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: v.$transparent-white;
    
}
.depart .departext p {
    margin: auto;
}

.departext hr {
    color: v.$orange;
    size: 3px;
    width: 30px;
}

#form2 {
    background-color: v.$dark-gray;
    color: v.$white;
    display: flex;
    flex-direction: column;
    padding : 2rem
}

#form2 button {
    margin-top: 2rem ;
    background-color: v.$orange;
    height: 2rem;
}

#form2 label {
    margin-top: 1rem;
}

#form2 input {
    height: 1.5rem;
}

.facture {
    text-align: center;
    background-color: v.$orange ;
    padding: 1rem;
    color: v.$white;
}