@use "variables" as v ;

/* 
========= RESET ========= 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* 
========= HEADER ========= 
*/

header {
    background-color: v.$light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    gap: 2rem;
}

.logo{
    width: 25rem;
}

header img{
    width: 100%;
}

header ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
}

header li {
    display: inline-flex;
    color: v.$white;
    
}


/* 
========= CORPS ========= 
*/

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/*
 == IMAGE 1 == 
 */

.arrivee {
    background-image: url(../img/Lille-Seminaires.jpg);
    background-position: center;
    width: 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    padding: 10rem 0;
}
  
.arrivee div {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    height: fit-content;
    padding: 0.8rem;
    font-size: 2rem;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

hr {
    width: 25%;
}

h2{
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
}


/*
 == FORMULAIRE == 
 */

 form {
    /* display: flex; */
    background-color: v.$dark-gray;
    color: v.$white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    /* margin: 0 4rem; */
    gap: 2rem;
    justify-content: space-between;

    @media screen and (min-width: v.$lg-breakpoint){
        flex-direction: row;
        align-items: end;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        flex: 1;
        @media screen and (min-width: v.$md-breakpoint){
            flex-direction: row;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            @media screen and (min-width: v.$md-breakpoint){
                width: 18%;
            }
        }
    }
    button {
        background-color: v.$orange;
        padding: 1.7rem;
        color: v.$white;
        border: 0;
        flex-basis: 18%;
        height: fit-content;
    }
    
}
.breakfast{
    display:flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 20%;
    justify-content: start;
    @media screen and (min-width: v.$md-breakpoint){
        width: 70%;
    }
    
    div{
        display: flex;
        flex-direction: row;
        justify-content: start;      
    }
}



input, select{
    padding: 1.5rem;
}

option{
    background-color: v.$option-gray;
    color: v.$white;
    border: 0;
}


/*
 == IMAGE 2 == 
 */

.depart {
    background-image: url(../img/Lille-Hall.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    padding: 5rem;
}

.depart div {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    height: fit-content;
    padding: 0.8rem;
    font-size: 2rem;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
}

.facture {
    text-align: center;
    background-color: v.$orange ;
    padding: 1rem;
    color: v.$white;
}



